@page "/"
@using RecipeViewer.Models
<PageTitle>Home</PageTitle>

<Jumbotron Border="Border.Is0.OnAll.Rounded.OnAll"
           TextAlignment="TextAlignment.Center"
           Margin="Margin.Is3.OnY.IsAuto.OnX"
           Shadow="Shadow.Large">
    <JumbotronTitle>A simple Recipe Viewer</JumbotronTitle>
    <JumbotronSubtitle>View recipes and their ingredients</JumbotronSubtitle>
    <Small>Written by Andrew Beers - for demo purposes</Small>
</Jumbotron>
<CardDeck Padding="Padding.Is3.OnX"
          Margin="Margin.Is2.OnY">
        <Card Shadow="Shadow.Default"
              Background="Background.Secondary"
              TextColor="TextColor.Light">
            <CardBody>
                <CardTitle Size="3">
                    New Recipe
                </CardTitle>
                <Paragraph>
                    Create a new recipe to store in the database.
                </Paragraph>
            </CardBody>
        <CardActions Padding="Padding.Is2.OnY">
                <Button Color="Color.Primary" Clicked="@AddRecipeAsync"
                        Block
                        Padding="Padding.Is3.OnX"
                        Margin="Margin.IsAuto.OnX"
                        Shadow="Shadow.Small">
                    Create New Recipe <Icon Name="IconName.PlusCircle" />
                </Button>
            </CardActions>
        </Card>
        <Card Shadow="Shadow.Default"
              Background="Background.Secondary"
              TextColor="TextColor.Light">
            <CardBody>
                <CardTitle Size="3">
                    Stored Recipes
                </CardTitle>
                <ListGroup Flush Width="Width.Is100">
                    <Repeater TItem="RecipeListViewModel" Items="_recipes">
                        <ListGroupItem>
                            <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
                                <Heading Size="HeadingSize.Is5">@context.Title</Heading>
                                <Buttons>
                                    <Button Size="Size.Small" Type="ButtonType.Button" Color="Color.Danger" Clicked="@(() => DeleteRecipeAsync(context.Id))">Delete <Icon Name="IconName.Delete" /></Button>
                                    <Button Size="Size.Small" Type="ButtonType.Button" Color="Color.Primary" Clicked="@(() => EditRecipeAsync(context.Title,context.Id))">Edit <Icon Name="IconName.Edit" /></Button>
                                    <Button Size="Size.Small" Type="ButtonType.Link" Color="Color.Info" To="@($"recipe/{context.Id}")">
                                        View <Icon Name="IconName.Link"/>
                                    </Button>
                                </Buttons>
                            </Div>
                            <Paragraph Margin="Margin.Is1.FromBottom">
                                @context.Description
                            </Paragraph>
                            <Small TextColor="TextColor.Muted">
                                Steps Involved: @context.StepsInvolved
                            </Small>
                        </ListGroupItem>
                    </Repeater>
                </ListGroup>
            </CardBody>
        </Card>
    </CardDeck>