<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <Div Margin="Margin.IsAuto.OnX" TextAlignment="TextAlignment.Center">
                <Div Padding="Padding.Is5.OnY">
                    <DisplayHeading Size="DisplayHeadingSize.Is1" TextWeight="TextWeight.Bold" TextColor="TextColor.Primary" Margin="Margin.Is4.FromBottom">
                        404
                    </DisplayHeading>
                    <Paragraph TextSize="TextSize.ExtraLarge" Margin="Margin.Is4.FromBottom">
                        Something's missing.
                    </Paragraph>
                    <Paragraph Margin="Margin.Is4.FromBottom">
                        Sorry, the page you’re looking for doesn’t exist.
                    </Paragraph>
                    <Button Color="Color.Primary" Size="Size.Large" Type="ButtonType.Link" To="">
                        Back to Homepage
                    </Button>
                </Div>
            </Div>
        </LayoutView>
    </NotFound>
</Router>
<MessageProvider />
<ModalProvider UseModalStructure Animated Size="ModalSize.Large" />
<PageProgressProvider />
<ToastProvider />
<ApplicationLoadingIndicator />
