<Card Border="Border.Is0.OnAll.Rounded.OnAll"
      Shadow="Shadow.None">
    <CardBody>
        <CardTitle Size="3">
            Edit Recipe
        </CardTitle>
        <Row>
            <Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnDesktop">
                <Field>
                    <FieldLabel>
                        Title
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="@_recipe.Title"/>
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>
                        Description
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Value="@_recipe.Description"/>
                    </FieldBody>
                </Field>
                <Field>
                    <FieldLabel>
                        Image Source
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="@_recipe.ImageUrl"/>
                    </FieldBody>
                </Field>
            </Column>
            <Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnDesktop">
                <Image Loading Source="@_recipe.ImageUrl" Text="@_recipe.Title" Fluid />
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.IsFull.OnMobile.Is10.OnDesktop">
                <Field>
                    <FieldLabel>
                        Ingredients
                    </FieldLabel>
                    <FieldBody>
                        <DataGrid TItem="Ingredient" Data="@_recipe.Ingredients.OrderByDescending(x => x.Name).ThenBy(x => x.Quantity)" Editable="true"
                                  Responsive
                                  ShowPager
                                  UseValidation
                                  ValidationsSummaryLabel="The following validation errors have occurred"
                                  ShowValidationsSummary
                                  CommandMode="DataGridCommandMode.ButtonRow"
                                  EditMode="DataGridEditMode.Form">
                            <EmptyTemplate>
                                <Paragraph>
                                    No ingredients have been added yet.
                                </Paragraph>
                            </EmptyTemplate>
                            <LoadingTemplate>
                                Loading...
                                <SpinKit Size="40px" Centered Type="SpinKitType.Plane" />
                            </LoadingTemplate>
                            <DataGridColumns>
                                <DataGridCommandColumn NewCommandAllowed="false" EditCommandAllowed="false" DeleteCommandAllowed="false" CancelCommandAllowed>
                                    <SaveCommandTemplate>
                                        <Button ElementId="btnSaveIngredient" Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
                                    </SaveCommandTemplate>
                                    <CancelCommandTemplate>
                                        <Button ElementId="btnCancelIngredient" Color="Color.Secondary" Clicked="@context.Clicked">@context.LocalizationString</Button>
                                    </CancelCommandTemplate>
                                </DataGridCommandColumn>
                                <DataGridColumn Field="@nameof(Ingredient.Quantity)" Caption="Quantity" Editable />
                                <DataGridColumn Field="@nameof(Ingredient.Unit)" Caption="Unit" Editable />
                                <DataGridColumn Field="@nameof(Ingredient.Name)" Caption="Name" Editable />
                            </DataGridColumns>
                            <ButtonRowTemplate>
                                <Button Color="Color.Success" Clicked="@context.NewCommand.Clicked">New</Button>
                                <Button Color="Color.Primary" Disabled="true" Clicked="@context.EditCommand.Clicked">Edit</Button>
                                <Button Color="Color.Danger" Disabled="true" Clicked="@context.DeleteCommand.Clicked">Delete</Button>
                            </ButtonRowTemplate>
                        </DataGrid>
                    </FieldBody>
                </Field>
            </Column>
            
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.IsFull.OnMobile.Is10.OnDesktop">
                <Field>
                    <FieldLabel>
                        Instructions
                    </FieldLabel>
                    <FieldBody>
                        <DataGrid TItem="Instruction" Data="@_recipe.Instructions.OrderBy(x => x.Order)"
                                  Editable
                                  Responsive
                                  ShowPager
                                  UseValidation
                                  ValidationsSummaryLabel="The following validation errors have occurred"
                                  ShowValidationsSummary
                                  CommandMode="DataGridCommandMode.ButtonRow"
                                  EditMode="DataGridEditMode.Form">
                            <EmptyTemplate>
                                <Paragraph>
                                    No instructions have been added yet.
                                </Paragraph>
                            </EmptyTemplate>
                            <LoadingTemplate>
                                Loading...
                                <SpinKit Size="40px" Centered Type="SpinKitType.Plane" />
                            </LoadingTemplate>
                            <DataGridColumns>
                                <DataGridCommandColumn NewCommandAllowed="false" EditCommandAllowed="false" DeleteCommandAllowed="false" CancelCommandAllowed>
                                    <SaveCommandTemplate>
                                        <Button ElementId="btnSaveInstruction" Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
                                    </SaveCommandTemplate>
                                    <CancelCommandTemplate>
                                        <Button ElementId="btnCancelInstrution" Color="Color.Secondary" Clicked="@context.Clicked">@context.LocalizationString</Button>
                                    </CancelCommandTemplate>
                                </DataGridCommandColumn>
                                <DataGridColumn Field="@nameof(Instruction.Order)" Caption="Step" Editable />
                                <DataGridColumn Field="@nameof(Instruction.Title)" Caption="Title" Editable />
                                <DataGridColumn Field="@nameof(Instruction.Description)" Caption="Description" Editable />
                            </DataGridColumns>
                            <ButtonRowTemplate>
                                <Button Color="Color.Success" Clicked="@context.NewCommand.Clicked">New</Button>
                                <Button Color="Color.Primary" Disabled="true" Clicked="@context.EditCommand.Clicked">Edit</Button>
                                <Button Color="Color.Danger" Disabled="true" Clicked="@context.DeleteCommand.Clicked">Delete</Button>
                            </ButtonRowTemplate>
                        </DataGrid>
                    </FieldBody>
                </Field>
            </Column>
        </Row>
    </CardBody>
</Card>
<ModalFooter>
    <Button Color="Color.Primary" Type="ButtonType.Button" Clicked="@SaveRecipeAsync" Shadow="Shadow.Default">Save</Button>
    <Button Color="Color.Secondary" Type="ButtonType.Button" Clicked="@CloseModalAsync" Shadow="Shadow.Default">Cancel</Button>
</ModalFooter>